.about-me {
	padding-bottom: 50px;
	@include mobile {
		padding-bottom: 25px;
	}

	&__content {
		display: flex;
		gap: 20px;

		div {
			width: 50%;

			@include mobile {
				width: unset;
			}

			h1 {
				color: $light-green;
				@include regular-16;
				text-transform: unset;
				line-height: 140%;
			}
		}

		@include mobile {
			flex-direction: column;
		}
	}
}

