.contacts {
	background-color: $light-green;
	padding-bottom: 60px;

	@include tablet {
		padding-bottom: 25px;
	}

	h2 {
		color: $white;
		width: 100%;

		&::after {
			content: '';
			border-bottom: solid 2px $white;
		}
	}

	&__icon {
		width: 40px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		width: 74%;

		@include tablet {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
		text-transform: uppercase;
		color: $white;
	}
}

