.header {
	padding: 50px 0;
	position: absolute;
	top: 0;
	background-color: transparent;
	z-index: 1;
	width: 100%;

	@include tablet {
		display: flex;
		justify-content: flex-end;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__nav {
		width: 100%;
		display: flex;
		gap: 35px;
		justify-content: center;
		@include transition;

		@include tablet {
			// display: none;
			opacity: 0;
			flex-direction: column;

			&.active {
				opacity: 1;
			}
		}

		.link {
			color: $white;
			position: relative;

			&:hover {
				color: $light-green;
				&::after {
					width: 100%;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $light-green;
				@include transition;
			}
		}
	}

	&__burger {
		background-image: url(@icons/burger.svg);
		width: 30px;
		height: 30px;
		cursor: pointer;
		background-position: center;

		&.active {
			background-image: url(@icons/close.svg);
		}

		@include min_tablet {
			display: none;
		}
	}
}

