.header {
	padding: 50px 0;
	position: absolute;
	top: 0;
	background-color: transparent;
	z-index: 1;
	width: 100%;

	@include tablet {
		display: flex;
		justify-content: flex-end;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__nav {
		width: 100%;
		display: flex;
		gap: 35px;
		justify-content: center;
		@include transition;

		@include tablet {
			// display: none;
			opacity: 0;
			flex-direction: column;

			&.active {
				opacity: 1;
			}
		}

		.link {
			color: $white;
			position: relative;

			&:hover {
				color: $light-green;
				&::after {
					width: 100%;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $light-green;
				@include transition;
			}
		}
	}

	&__burger {
		// background-image: url(@icons/burger.svg);
		// width: 30px;
		// height: 30px;
		// cursor: pointer;
		// background-position: center;

		// &.active {
		// 	background-image: url(@icons/close.svg);
		// }

		// @include min_tablet {
		// 	display: none;
		// }
		height: 20px;
		background-color: transparent;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
		gap: 5px;
		display: none;

		@include tablet {
			display: flex;
			transition: all $transitionDuration;

			.children {
				transition: all $transitionDuration;
			}
		}

		.children,
		&::before,
		&::after {
			display: block;
			height: 2px;
			background-color: $white;
			border-radius: 10px;
			transition: all $transitionDuration;
		}

		.children {
			width: 14px;
		}

		&::before,
		&::after {
			content: '';
			width: 20px;
		}

		&.active {
			.children {
				display: none;
			}

			&::before {
				transform: translateY(4px) rotate(45deg);
			}

			&::after {
				transform: translateY(-14px) rotate(-45deg);
			}
		}
	}
}

