.price {
	padding-bottom: 0 !important;

	&__items {
		display: flex;
		gap: 20px;
		justify-content: center;

		@include mobile {
			flex-direction: column;
		}
	}

	&__item {
		width: 40%;
		border-radius: 30px;
		position: relative;
		overflow: hidden;
		min-height: 280px;
		max-width: 243px;

		@include mobile {
			width: 100%;
			max-width: unset;
		}

		img,
		picture {
			filter: brightness(80%);
			position: absolute;
			top: 0;
			bottom: 70px;
			right: 0;
			left: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
	}

	&__item-content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		height: 100%;
		padding-top: 80px;
		width: 100%;
		background: linear-gradient(0deg, rgb(151, 174, 119) 0%, rgba(0, 0, 0, 0) 60%);

		h3 {
			font-size: 16px;
			color: $white;
			margin: 0 20px;
			max-width: 80%;
		}

		div {
			display: flex;
			gap: 10px;
			justify-content: space-between;
			align-items: center;
			height: 70px;
			background-color: $light-green;
			padding: 20px;
			width: 100%;

			p {
				color: $white;

				&:last-child {
					font-size: 14px;
					color: $green;
				}
			}
		}
	}
}

