.accordion__list {
	display: flex;
	flex-direction: column;
	position: relative;
	list-style: none;
	padding-left: 0;

	.accordion__item {
		margin-bottom: 15px;
		.accordion__toggle {
			width: fit-content;
			cursor: pointer;
			display: flex;
			align-items: center;
			position: relative;
			gap: 20px;
			@include transition;

			h3 {
				position: relative;
			}
			h3::after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $light-green;
				@include transition;
			}

			&:hover {
				h3::after {
					width: 100%;
				}
			}

			@include mobile {
				gap: 10px;
			}
		}

		.accordion-icon {
			@include transition;
			background-image: url(@icons/chevron.svg);
			background-repeat: no-repeat;
			width: 23px;
			height: 23px;
			background-color: transparent;
			border: none;
			background-position: center;
			transition: $transitionDuration;
			background-size: 100%;

			@include mobile {
				width: 17px;
				height: 17px;
				min-width: 17px;
				min-height: 17px;
			}
		}

		.accordion__content {
			height: 0;
			max-height: 0;
			transition: all $transitionDuration;
			overflow: hidden;
			transition: height 0.4s ease;
			display: flex;
			flex-direction: column;
			gap: 10px;
			opacity: 0;
			@include transition;

			p {
				text-align: justify;
				line-height: 160%;

				@include mobile {
					text-align: left;
				}
			}
		}

		&_active {
			.accordion__content {
				height: unset;
				opacity: 1;
				max-height: 1000px;
				padding-bottom: 30px;
				padding-top: 20px;

				@include mobile {
					padding-bottom: 15px;
					padding-top: 15px;
					gap: 0;
				}
			}

			.accordion-icon {
				transform: rotate(180deg);
			}

			.accordion__toggle::after {
				width: 0;
			}
		}
	}
}

