.button {
	border: none;
	background-color: $light-green;
	color: $white;
	@include regular-18-uppercase;
	padding: 10px 20px;
	border-radius: 40px;
	@include transition;

	&:hover {
		background-color: $green;
	}
}

