.modal {
	width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.85);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;

	&_active {
		display: block;
	}

	&__container {
		width: 100%;
		max-width: 500px;
		height: fit-content;
		padding: 55px 20px;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		border: solid 1px $white;
		border-radius: 30px;

		@include mobile {
			width: 100%;
			top: 0;
			right: 0;
		}

		h4 {
			color: $white;
			text-align: center;
			@include regular-22-uppercase;
		}
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		height: 24px;
		width: 24px;
		z-index: 1000;
		border: none;
		padding: 0;
		background: none;
		transition: all $transitionDuration;
		background-image: url('@icons/close.svg');
		background-position: center;

		&:hover {
			cursor: pointer;
			scale: 1.05;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

