<footer class="footer container">
	<div class="footer__row wow fadeUp">
		<img src="@icons/logo_white.svg">
		<nav>
			<a class="link link_white" href="#about">about</a>
			<div>
				<a class="link link_white" href="#products">products</a>
				<a class="link link_white" href="/anthracite.html">Anthracite</a>
				<a class="link link_white" href="/carbon-products.html">Carbon product</a>
				<a class="link link_white" href="/coke-nut.html">Coke nut</a>
			</div>
			<a class="link link_white" href="#partners">partners</a>
			<a class="link link_white" href="#contacts">contacts</a>
		</nav>
	</div>
	<div class="line line_no-margin wow lineLeft"></div>
	<div class="footer__row wow fadeUp">
		<span class="footer__copyrights">DakaTrade © 2023</span>
		<a class="footer__dev link" href="https://www.wptt.ru" target="_blank">made in <span>wptt</span></a>
		<a class="footer__privacy link" href="/privacy">Privacy Policy</a>
	</div>
</footer>