<section class="write-us container" id="write-us">
	<div class="line line_white wow lineLeft"></div>
	<div class="wow textUp fadeUp">
			<h2>write-us</h2>
	</div>
	<form class="wow fadeUp">
		<h3>Ready to discuss cooperation?</h3>
		<div class="write-us__columns">
			@@include('components/ui/_input-text.html', {placeholder: 'name'})
			@@include('components/ui/_input-text.html', {placeholder: 'company'})
			@@include('components/ui/_input-email.html', {placeholder: 'e-mail'})
			@@include('components/ui/_input-phone.html', {placeholder: 'phone number'})
		</div>
		@@include('components/ui/_input-text.html', {placeholder: 'your question'})
		@@include('components/ui/_button.html', {children: 'send message', type: 'submit'})
	</form>
</section>