@mixin transition {
	transition: all $transitionDuration;
}

@mixin bold-72 {
	font-size: 72px;
	font-weight: 600;
	line-height: 100%;
}

@mixin bold-72-uppercase {
	font-size: 72px;
	font-weight: 600;
	line-height: 100%;
	text-transform: uppercase;
}

@mixin bold-60-uppercase {
	font-size: 60px;
	font-weight: 600;
	line-height: 100%;
	text-transform: uppercase;
}

@mixin bold-50 {
	font-size: 50px;
	font-weight: 600;
	line-height: 100%;
}

@mixin bold-50-uppercase {
	font-size: 50px;
	font-weight: 600;
	line-height: 100%;
	text-transform: uppercase;
}

@mixin bold-36 {
	font-size: 36px;
	font-weight: 600;
	line-height: 100%;
}

@mixin bold-36-uppercase {
	font-size: 36px;
	font-weight: 600;
	line-height: 100%;
	text-transform: uppercase;
}

@mixin bold-20 {
	font-size: 20px;
	font-weight: 600;
	line-height: 140%;
}

@mixin bold-20-uppercase {
	font-size: 20px;
	font-weight: 600;
	line-height: 140%;
	text-transform: uppercase;
}

@mixin medium-32 {
	font-size: 32px;
	font-weight: 500;
	line-height: 120%;
}

@mixin medium-32-uppercase {
	font-size: 32px;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin medium-18 {
	font-size: 18px;
	font-weight: 500;
	line-height: 120%;
}

@mixin medium-18-uppercase {
	font-size: 18px;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin medium-16 {
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
}

@mixin medium-16-uppercase {
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-32 {
	font-size: 32px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-48-uppercase {
	font-size: 48px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-36-uppercase {
	font-size: 36px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-32-uppercase {
	font-size: 32px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-22-uppercase {
	font-size: 22px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-22 {
	font-size: 22px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-20 {
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-20-uppercase {
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-18 {
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-18-uppercase {
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-17-uppercase {
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-17 {
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-16 {
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-16-uppercase {
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin regular-14 {
	font-size: 14px;
	font-weight: 400;
	line-height: 120%;
}

@mixin regular-14-uppercase {
	font-size: 14px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}

@mixin light-20 {
	font-size: 20px;
	font-weight: 300;
	line-height: 120%;
}

@mixin light-20-uppercase {
	font-size: 20px;
	font-weight: 300;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin light-18 {
	font-size: 18px;
	font-weight: 300;
	line-height: 110%;
}

@mixin light-18-uppercase {
	font-size: 18px;
	font-weight: 300;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin light-16 {
	font-size: 16px;
	font-weight: 300;
	line-height: 145%;
}

@mixin light-16-uppercase {
	font-size: 16px;
	font-weight: 300;
	line-height: 110%;
	text-transform: uppercase;
}

@mixin light-14 {
	font-size: 14px;
	font-weight: 300;
	line-height: 150%;
}

@mixin light-14-uppercase {
	font-size: 14px;
	font-weight: 300;
	line-height: 110%;
	text-transform: uppercase;
}

